<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% for item in feedbacks %}
    <p>
        <span>User: {{ item.user }}</span>
        <span>Text: {{ item.text }}</span>
        <span>Rating: {{ item.rating }}</span>
    </p>
{% endfor %}
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <label>{{ field.label }}</label>
            {{ field }}
        {% endfor %}
        <input type="submit" value="Create feedback">
    </form>
</div>
</body>
</html>